@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    display: grid;
    grid-template-rows: auto auto auto;
}

nav {
    display: flex;
    align-items: center;
}

.primary-navigation {
    grid-row: 1 / span 1;
    display:flex;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    padding: 6px 5% 0px 5%;
    background-color: hsl(0deg 0% 17%);
    color: hsl(0deg 0% 89%);
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: hsl(0deg 0% 89%);
}


.navigation-links {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.nav-logo img {
    width: 120px;
}

.nav-logo img:hover {
    opacity: 0.6;
    transition: 0.3s;
}

li {
    margin-left: 24px;
}

header a:hover {
    color: hsl(0deg 0% 67%);
    transition: 0.4s;
}

.account-actions {
    display: inline-flex;
    flex-flow: row nowrap;
}

.account-actions li + li::before {
    content: "|";
    margin-right: 12px;
}

li + li {
    margin-left: 12px;
}

@media (max-width: 800px) {
    .primary-navigation {
        display: flex;
        flex-flow: column nowrap;
        padding-bottom: 12px;
    }
}

@media(max-width: 600px) {
    nav {
        display: flex;
        flex-flow: column nowrap;
    }

    
    .navigation-links li {
        margin: 6px;
    }
}

.hero {
    grid-row: 2 / span 1;
    position: relative;
    background-color: black;
}

.hero > img {
    width: 100%;
    z-index: 0;
}

.fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 20%;
    background: linear-gradient(to top, hsla(0, 0%, 10%, 1), hsla(0, 0%, 40%, 0));
    z-index: 10;
}

.call-to-action {
    z-index: 20;
    width: 100%;
    position: absolute;
    bottom: 10%;
    text-align: center;
    color: hsl(0deg 0% 100%);
    text-transform: uppercase;
}

.call-to-action p {
    font-size: 48px;
    margin-bottom: 48px;
    font-weight: 700;
}

.call-to-action a {
    padding: 10px 30px;
    border: 2px solid hsl(0deg 0% 100%);
    margin-top: 12px;
}

.call-to-action a:hover {
    background-color: hsl(37deg 64% 28%);
    border-color: hsl(37deg 64% 28%);
    transition: 0.3s;
}

.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.main-content {
    grid-row: 3 / span 1;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    color: hsl(0deg 0% 89%);
    grid-gap: 36px;
    width: 1000px;
    margin-bottom: 64px;
}


.feature-1 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background-image: url("images/rockon.jpg");
    background-size: cover;
}

.feature-2 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background-image: url("images/guitar.jpg");
    background-size: cover;

}

.feature-3 {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
    background-image: url("images/tribe.jpg");
    background-size: cover;
}

.feature-4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-image: url("images/oldschool.jpg");
    background-size: cover;

}



.fade-feature {
    padding: 24px 36px;
    display: grid;
    grid-template-rows: auto 72px auto;
    row-gap: 24px;
    background-color: hsla(0, 0%, 10%, 0.7);
    opacity: 0;
}

.fade-feature:hover {
    opacity: 1;
    transition: 0.5s;
}

.main-content h1 {
    font-size: 36px;
    padding: 24px 36px 0 36px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: hsl(0deg 0% 17%);
}

.feature h2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature a {
    padding: 10px 30px;
    border: 2px solid hsl(0deg 0% 89%);
    width: 102px;
    text-align: center;
    text-transform: uppercase;

}

.feature a:hover {
    background-color: hsl(37deg 64% 28%);
    border-color: hsl(37deg 64% 28%);
    transition: 0.3s;
}

@media (max-width: 1200px) {
    .content-wrapper {
        padding: 24px;
    }
    
    .main-content {
        margin-left: 10%;
        margin-right: 10%;
        width: 100%;
    }

    .call-to-action p {
        font-size: 36px;
    }

    .primary-navigation {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .main-content {
        display: grid;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-gap: 36px;
        margin-bottom: 24px;
    }

    .main-content h1 {
        text-align: center;
        font-size: 30px;
    }

    .feature-1 {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    
    .feature-2 {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;    
    }
    
    .feature-3 {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
    
    .feature-4 {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }
    
}


